
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&family=Sofia+Sans:ital,wght@0,400;0,600;1,100&display=swap');

.banner{
  position: absolute;
  width: 100%;
  height: auto;
}
.image {
  width: 100%;
  height: 100%;
}

.box {
  margin-top: 2%;
}

.box:hover {
  border: 2.5px solid whitesmoke;
  cursor: pointer;
}

.leftys {
  position: absolute;
  margin-left: 32%;
  margin-right: 45%;
  margin-bottom: 5%;
  margin-top: 15%;
  display: none;
}

.splashtext {
  position: absolute;
  font-weight: 600;
  color: maroon;
  font-size: 48px;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Sofia Sans', sans-serif;
  margin-top: 40%;
  margin-left: 65%;
  margin-right: 45%;
  border: 2px solid white;
  opacity: 90%;
}

.splashtext:hover {
  cursor: pointer;
  color: powderblue;
}


.containers {
  height: 100%;
  text-align: center;
  padding: 8;
  margin-left: 12%;
  margin-top: 6%;
  display: inline-flex;
  width: 15%;
  
}

.displaytext {
  color: white;
  border: 2px solid white;
  opacity: 90%;
}

.displaytext:hover {
  color: black;
  background-color: white;
}

.iconig {
  margin-right: 6%;
  float: right;
}

.giticon {
  float: right;
  margin-right: 2%;
  margin-bottom: 2%;
}

.footbox {
  margin-top: 5%;
  width: 100%;
  height:100%;
  background-color: whitesmoke;
}



.header {
  width: 100%;
  height: auto;
  
}

.headimage {
  width:95%;
  height: 20%;
  margin-right: 5%;
  margin-bottom: 2%;
}

.block {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  color: black;
  padding: 1%;
  font-size: 1.5rem;
  
}

.headstore {
  margin-left: 30%;
  display: inline;
}


