
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&family=Sofia+Sans:ital,wght@0,400;0,600;1,100&display=swap');



.banner{
  position: absolute;
  width: 100%;
  height: auto;
}
.image {
  width: 100%;
  height: 100%;
  
}

.box {
  margin-top: 2%;
  margin-bottom: 2%;
}

.box:hover {
  border: 2.5px solid whitesmoke;
  cursor: pointer;
}


.splashtext {
  position: absolute;
  font-weight: 600;
  color: maroon;
  font-size: 48px;
  font-family: 'Noto Sans JP', sans-serif;
  font-family: 'Sofia Sans', sans-serif;
  margin-top: 40%;
  margin-left: 65%;
  margin-right: 45%;
  border: 2px solid white;
  opacity: 90%;
}

.splashtext:hover {
  cursor: pointer;
  color: powderblue;
}


.containers {
  height: 100%;
  text-align: center;
  padding: 8;
  margin-left: 8%;
  margin-top: 6%;
  display: inline-flex;
  flex-wrap: wrap;
  width: 20%;
  margin-right: 4%;
}

.dropbox {
  text-align: center;
  padding: 1%;
  border: 1px solid white;
  
}



.displaytext {
  color: white;
  border: 2px solid white;
  opacity: 90%;
}

.displaytext:hover {
  color: black;
  background-color: white;
}

.iconig {
  margin-right: 6%;
  float: right;
}

.giticon {
  float: right;
  margin-right: 2%;
  margin-bottom: 2%;
}

.footbox {
  margin-top: 5%;
  width: 100%;
  height:100%;
  background-color: whitesmoke;
}



.header {
  width: 100%;
  height: auto;
  
}

.headimage {
  width:95%;
  height: 20%;
  margin-right: 5%;
  margin-bottom: 2%;
}

.block {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  color: black;
  padding: 2.5%;
  font-size: 2rem;
  
}

.headstore {
  margin-left: 25%;
  display: inline-flex;
}

.headend {
  margin-left: 16%;
  display: inline-flex;
}



.printbox {
  width: 96%;
  height: 100%;
  margin-left: 2%;
  margin-right: 2%;
  background-color: rgb(179, 137, 117);
  display: inline-flex;
  color: black;
  padding-left: 6%;
  margin-top: .5%;
  padding-top: .5%;
  padding-right: .5%;
  padding-bottom: .5%;
}

.printboxcover {
width: 96%;
height: 100%;
margin-left: 2%;
margin-right: 2%;
display: inline-flex;
color: whitesmoke;
padding-left: 6%;
margin-top: 3%;
padding-top: .5%;
padding-right: .5%;
padding-bottom: 3%;
}




.text {
  margin-top: 3%;
  width: 50%;
  font-size: 18px;
}

.backbutton {
  margin-left: 10%;
  margin-top: 5%;
  font-size: 18px;
  margin-bottom: 2%;
  width: 5%;
  border: 2px solid white;
  text-align: center;
}

.backbutton:hover {
  background-color: white;
  color: black;
}

.digitalbox {
  margin-left: 5%;
  margin-top: 6%;
  display: inline-flex;
}

.book {
  margin-left: 60%;
}

.aboutboxes {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.aboutpage {
  margin-top: 3%;
  margin-left: 5%;
  padding: 2%;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  width: 25%;
  height: auto;
  
}

.testimonial {
  width: 50%;
  margin-left: 5%;
  margin-top: 3%;
  font-size: 18px;
}

.doglogo {
  float: right;
  margin-top: 2%;
  margin-left: 2%;
  
}

.testcontainer {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.webx {
  /* border: 1px solid red; */
  width:40%;
  height: auto;
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: 5%;
  margin-left: 8%;
  margin-bottom: 5%;
  
}


.droptext {
  color: white;
  border: 1px solid white;
  opacity: 90%;
  width: 5%;
  display: inline;
  margin: 5%;
  padding: .5%;
  border-radius: 5px;
}

.textbox {
  margin-left: 14%;
}

.issue {
 margin-left: 22%;
 margin-top: 10%;
}

.issue:hover {
  cursor: pointer;
}

.issueprinted {
  margin-right: 2%;
}



.brandbox {
  width: 96%;
  height: 100%;
  margin-left: 2%;
  margin-right: 2%;
  background-color: whitesmoke;
  display: inline-flex;
  color: black;
  padding-left: 4%;
  margin-top: .5%;
  padding-top: .5%;
  padding-right: .5%;
  padding-bottom: .5%;
}

.form {
  margin-left: 32%;
  margin-top: 5%;
  width: 40%;
  padding: 5%;
  text-align: center;
  border-radius: 5px;
  
  color: whitesmoke;
}

.messagebox {
  height: 75%;
  width: 75%;
  
}

.formtext {
  font-size: 24px;
}

.walls {
  padding: 2%;
  width: 100%;
}

@media only screen and (max-width: 480px) {
  .headimage {
    width: 100%;
    height: 25%;
    object-fit: cover;
  }

  .containers{
    width: 30%;
    height: 100%;
    text-align: center;
    padding: 8;
    margin-left: 12%;
    margin-top: 6%;
    margin-right: 4%;
    
  }

   .displaytext{
    width: 100%;
    height:auto ;
    border: 1px solid whitesmoke;
    font-size: 1.5rem;
  }

  .box {
    width: 120px;
    height: 170px;
    object-fit: cover;
  }

  .block {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    color: black;
    padding: 2.5%;
    font-size: 1.75rem;
    display: inline-flex;
    flex-wrap: wrap; 
    justify-content: space-between;
   
  }

  .headstore {
    margin-left: 5%;
    display: inline;
  }
  
  .headend {
    margin-left: 5%;
    display: inline;
  }

  .walls {
    display: flex;
    flex-wrap: wrap;
    
  }

 

  

}